body {
  font-family: mono;
  font-weight: bold;
  margin: 0;
  padding: none;
  background-color: #222034;
}

#header {
  width: 100%;
  height: 40px;
  background-color: #222034;
}

.info {
  color: white;
}

a {
  color: yellow;
}

.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten { text-align: center; }

/* NOTE: Canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
  border: 0px none;
  background: black;
  /*width: 100%*/
}

.spinner {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-animation: rotation .8s linear infinite;
  -moz-animation: rotation .8s linear infinite;
  -o-animation: rotation .8s linear infinite;
  animation: rotation 0.8s linear infinite;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 5px solid red;
  border-radius: 100%;
  background-color: rgb(245, 245, 245);
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#status {
  display: inline-block;
  vertical-align: top;
  /*margin-top: 30px;*/
  /*margin-left: 20px;*/
  font-weight: bold;
  color: white;
}

#progress {
  height: 0px;
  width: 0px;
}

#controls {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 20px;
}

input[type=button] {
  background-color: #605c81;
  border: 4px solid #222034;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 140px;
  padding: 5px;
  /*height: 50px;*/
}

input[type=button]:hover
  background-color: #222034;
  border-color: black;
}
